@using Model.CustomerData
@{
    CustomerDataMast data = ViewBag.Data;
}
<div class="modal-dialog modal-lg" id="CustomerDataDetail">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">@(data == null ? ViewBag.LabelNew : ViewBag.LabelEdit)</h4>
        </div>
        <div class="modal-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#mastTab" data-toggle="tab">@ViewBag.LabelMastData</a></li>
                    <li><a href="#dataSqlTab" data-toggle="tab">@ViewBag.LabelDataSql</a></li>
                    <li><a href="#remarkTab" data-toggle="tab">@ViewBag.LabelRemark</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="mastTab">
                        <div class="form-horizontal">
                            <input type="hidden" id="customerDataID" data-field="ID" value="@(data == null ? "" : data.ID.ToString())" />
                            <div class="form-group">
                                <label for="wname" class="col-sm-1 control-label">@ViewBag.LabelDescription</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" data-field="Name" id="wname" @Html.Raw(data == null ? "" : " value=\"" + data.Name + "\"") data-required />
                                </div>
                                <label for="wstatus" class="col-sm-1 control-label">@ViewBag.LabelStatus</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="wstatus" data-field="Status">
                                        <option value="1" @Html.Raw(data == null ? "" : (data.Status.Equals(1) ? " selected" : ""))>@ViewBag.LabelStatusActive</option>
                                        <option value="0" @Html.Raw(data == null ? "" : (data.Status.Equals(0) ? " selected" : ""))>@ViewBag.LabelStatusBlock</option>
                                    </select>
                                </div>
                                <label for="wrunweek" class="col-sm-2 control-label">@ViewBag.LabelRunWeek</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="wrunweek" data-field="RunWeek">
                                        <option value="8" @Html.Raw(data == null ? "" : (data.RunWeek > 7 ? " selected" : ""))>@ViewBag.LabelManual</option>
                                        <option value="0" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(0) ? " selected" : ""))>@ViewBag.LabelEveryday</option>
                                        <option value="1" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(1) ? " selected" : ""))>@ViewBag.LabelMonday</option>
                                        <option value="2" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(2) ? " selected" : ""))>@ViewBag.LabelTuesday</option>
                                        <option value="3" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(3) ? " selected" : ""))>@ViewBag.LabelWensday</option>
                                        <option value="4" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(4) ? " selected" : ""))>@ViewBag.LabelThursday</option>
                                        <option value="5" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(5) ? " selected" : ""))>@ViewBag.LabelFriday</option>
                                        <option value="6" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(6) ? " selected" : ""))>@ViewBag.LabelSaturday</option>
                                        <option value="7" @Html.Raw(data == null ? "" : (data.RunWeek.Equals(7) ? " selected" : ""))>@ViewBag.LabelSunday</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inst" class="col-sm-1 control-label">@ViewBag.LabelInstruction</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" data-field="Instruction" id="inst" @Html.Raw(data == null ? "" : " value=\"" + data.Instruction + "\"") data-required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="dataSqlTab">
                        <div>
                            <textarea id="datasql" class="form-control blocked" rows="7" data-field="SQL" data-required>@Html.Raw(data == null ? "" : data.SQL)</textarea>
                        </div>
                    </div>
                    <div class="tab-pane" id="remarkTab">
                        <div>
                            <textarea id="remark" class="form-control blocked" rows="7" data-field="Remark">@Html.Raw(data == null ? "" : data.Remark)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@ViewBag.LabelClose</button>
            @if (data != null && !data.ID.Equals(0))
            {
                <button type="button" id="detailDel" class="btn btn-danger">@ViewBag.LabelDelete</button>
            }
            <button type="button" id="detailSave" class="btn btn-primary">@ViewBag.LabelSave</button>
        </div>
    </div>
</div>
<script>
    var ajaxEdit = function (json) {
        $('#CustomerDataDetail button').prop('disabled', true);
        actionRequest.post({
            url: '@Url.Content("~/api/SEMIApi/EditCustomerData/" + ViewBag.Language)',
            postData: $.parseJSON(json),
            success: function (response) {
                if (response !== undefined && response !== null && response.Status == 'ok') {
                    $('#searchKey').val(response.Msg);
                    CustomerData.search();
                    $('#commonModal').modal('hide');
                }
                else {
                    $('#CustomerDataDetail button').prop('disabled', false);
                    $('#alertModal .modal-body').html('<p><strong>'
                       + (response === undefined || response === null ? "Server error" : response.Msg) + '</strong></p>');
                    $('#alertModal').modal('show');
                }
            },
            error: function (msg) {
                $('#alertModal .modal-body').html('<p><strong>' + msg + '</strong></p>');
                $('#alertModal').modal('show');
                $('#CustomerDataDetail button').prop('disabled', false);
            }
        });
    };
    $(function () {
        $("#CustomerDataDetail input[data-required],#CustomerDataDetail textarea[data-required]").attr('placeholder', '@ViewBag.LabelRequired').on('focus', function () {
            $(this).parent('div').removeClass('has-error');
        });
        $('#detailDel').on('click', function () {
            ajaxEdit("{\"IsDel\":\"1\", \"ID\":\"" + $('#customerDataID').val() + "\"}");
        });
        $('#detailSave').on('click', function () {
            var checked = true;
            var id = '';
            //检查所有input标签中data-required必选项值是否为空
            $('#CustomerDataDetail input[data-required],#CustomerDataDetail textarea[data-required]').each(function () {
                if ($.trim($(this).val()) == '') {
                    $(this).parent('div').addClass('has-error');
                    if (id === '') id = $(this).parents('div.tab-pane').attr('id');
                    checked = false;
                }
            });
            if (!checked) {
                if (id !== '') $("ul.nav-tabs a[href='#" + id + "']").tab('show');
                return;
            }
            var jsonBuilder = new StringBuilder();
            $('#mastTab input[data-field],#dataSqlTab textarea[data-field],#remarkTab textarea[data-field]').each(function () {
                if (jsonBuilder.length() > 0) jsonBuilder.append(',');
                jsonBuilder.append("\"" + $(this).attr('data-field') + "\":\"");
                if ($(this).attr('data-value-alias') == undefined) jsonBuilder.append($.jsonCheck($(this).val()) + "\"");
                else {
                    var aliasVal = $(this).attr('data-' + $(this).attr('data-value-alias'));
                    if (aliasVal == undefined) aliasVal = '';
                    jsonBuilder.append($.jsonCheck(aliasVal) + "\"");
                }
            });
            $('#mastTab select[data-field]').each(function () {
                if (jsonBuilder.length() > 0) jsonBuilder.append(',');
                jsonBuilder.append("\"" + $(this).attr('data-field') + "\":\"" + $(this).children('option:selected').val() + "\"");
            });
            if (jsonBuilder.length() > 0) {
                jsonBuilder.append("}").insert(0, "{");
                ajaxEdit(jsonBuilder.toString());
            }
        });
    });
</script>
