<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="col-sm-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input id="siteUser" value="@Html.Raw(ViewBag.siteUser)" hidden />
                            @if (ViewBag.Permission == "Full")
                            {
                                <button class="btn btn-primary ladda-button" data-style="zoom-out" onclick="Item.edit(this)">
                                    <i class="glyphicon glyphicon-plus"></i> @ViewBag.LabelNew
                                </button>

                                <button class="btn btn-danger ladda-button" data-style="zoom-out" onclick="Item.edit(this, {ItemName_EN:'Picture of Chinese', langCode: 'ZHCN'})">
                                    <i class="glyphicon glyphicon-plus"></i> @ViewBag.LabelPicture_zh
                                </button>

                                <button class="btn btn-primary ladda-button" data-style="zoom-out" onclick="Item.edit(this, {ItemName_EN:'Picture of English', langCode: 'ENUS'})">
                                    <i class="glyphicon glyphicon-plus"></i> @ViewBag.LabelPicture_en
                                </button>
                            }
                        </div>

                        <div class="col-sm-1">
                            <select class="form-control" id="itemClass" style="width:80px">
                                <option value="ECE">ECE</option>
                                <option value="PYP">PYP</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <select class="form-control" id="itemType">
                                <option value="820LIS01">820LIS01</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <select class="form-control" id="StartDate">
                                @foreach (var item in ViewBag.TimeList)
                                {
                                    <option value='@Html.Raw(item.startDate)'>@Html.Raw(item.startDate)</option>
                                }
                            </select>
                        </div>
                       
                        <div class="col-sm-2">
                                <select class="form-control" id="weekDay">
                                    <option value="1">周一 / Mon</option>
                                    <option value="2">周二 / Tue</option>
                                    <option value="3">周三 / Wed</option>
                                    <option value="4">周四 / Thu</option>
                                    <option value="5">周五 / Fri</option>
                                </select>
                        </div>
                        <br><br>
                            <div class="col-sm-3 input-group">
                                <input type="text" id="searchKey" placeholder="@ViewBag.LabelSearchHint" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="searchBtn" onclick="Item.search()">@ViewBag.LabelSearch</button>
                                </span>
                            </div>
                        </div>
                    </div>
                <table id="item" class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>@ViewBag.LabelSort</th>
                            <th>@ViewBag.LabelBusinessType</th>
                            <th>@ViewBag.LabelDescription</th>
                            <th>@ViewBag.LabelDescription_EN</th>
                            <th>@ViewBag.LabelClassName</th>
                            <th>@ViewBag.LabelStartDate</th>
                            <th>@ViewBag.LabelEndDate </th>
                            <th>@ViewBag.LabelStatusActive</th>
                            <th>@ViewBag.LabelEdit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#searchKey').on('keydown', function (event) {
            if (event.keyCode === 13) $('#searchBtn').click();
        }).focus();
    });
    var Item = {
        tbl: null,
        search: function () {
            if (Item.tbl === null) {
                Item.tbl = $('#item').DataTable({
                    searching: false,
                    lengthMenu: [[10, 15, 30, -1], [10, 15, 30, "ALL"]],
                    dom: 'rt<"bottom"iflp<"clear">>',
                    processing: true,
                    stateSave: false,
                    deferRender: true,
                    language: {
                        "processing": "@ViewBag.LabelLoading",
                        "zeroRecords": "@ViewBag.LabelNoData",
                        "lengthMenu": "@ViewBag.LabelLengthMenu",
                        "info": "@ViewBag.LabelTableInfo",
                        "infoEmpty": "@ViewBag.LabelTableInfoEmpty",
                        "paginate": {
                            "first": "@ViewBag.LabelFirstPage",
                            "previous": "@ViewBag.LabelPreviousPage",
                            "next": "@ViewBag.LabelNextPage",
                            "last": "@ViewBag.LabelLastPage"
                        }
                    },

                    ajax: {
                        "url": '@Url.Content("~/api/SEMIApi/GetTableMenuDatas/" + @ViewBag.Language)',
                        "type": "POST",
                        "data": function (d) {
                            d.itemClass = $('#itemClass').children('option:selected').val(),
                            d.KeyWords = $('#searchKey').val(),
                            d.startDate = $('#StartDate').children('option:selected').val(),
                            d.weekDay = $('#weekDay').children('option:selected').val(),
                            d.SiteGuid = $('#itemType').children('option:selected').val()
                        }
                    },
                    columns: [
                        { data: 'ItemSort' },
                        { data: 'ItemType'},
                        { data: 'ItemName_CN' },
                        { data: 'ItemName_EN' },
                        { data: 'ItemClassName' },
                        { data: 'startDate' },
                        { data: 'endDate' },
                        { data: 'comments' }
                    ],
                    columnDefs: [{
                        targets: 8,
                        data: null,
                        defaultContent: '<button class="btn btn-primary btn-xs ladda-button" data-action="edit" data-style="zoom-out">'
                            + '<i class="fa fa-edit"></i></button>'
                    }]
                });
                $('#item tbody').on('click', 'button', function () {
                    var data = Item.tbl.row($(this).parents('tr')).data();
                    var act = $(this).attr('data-action');
                    if(act === "bom") Item.bom($(this)[0], data);
                    if(act === "edit") Item.edit($(this)[0], data);
                    if(act == "bomview") Item.view($(this)[0], data);
                });
            }
            else Item.tbl.ajax.reload();
        },
        edit: function (o, data) {
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/MenuItemDetail/" + ViewBag.Language)',
                postData: {
                    ItemGuid: data === undefined || data === null ? '' : data.ItemGuid,
                    Type: '@ViewBag.Type',
                    Permission: '@ViewBag.Permission',
                    langCode: data === undefined || data === null ? '' : data.langCode,
                    ItemName_EN: data === undefined || data === null ? '' : data.ItemName_EN,
                    StartDate: $('#StartDate').children('option:selected').val(),
                    ItemClassGuid: $('#itemClass').children('option:selected').val(),
                    ItemType: $('#itemType').children('option:selected').val(),
                    weekDay: $('#weekDay').children('option:selected').val(),
                    
                },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xHR) {
                    action = false;
                    l.stop();
                }
            });
        },
        bom: function (o, data) {
            console.log(data.ItemName_CN.replaceAll("<br>", ";"));
            console.log(data.ItemName_EN.replaceAll("<br>", ";"));
            if (action) return;
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/BOMEdit/" + ViewBag.Language)',
                postData: {
                    ItemGuid: data === undefined || data === null ? '' : data.ItemGuid,
                    ItemCode: data === undefined || data === null ? '' : data.ItemCode,
                    ItemName_CN: data === undefined || data === null ? '' : data.ItemName_CN.replaceAll("<br>", ";"),
                    ItemName_EN: data === undefined || data === null ? '' : data.ItemName_EN.replaceAll("<br>", ";"),
                    Permission: '@ViewBag.Permission'
                },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xHR) {
                    action = false;
                    l.stop();
                }
            });
        },
        view : function(o, data){
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/BOMProduct/" + ViewBag.Language)',
                postData: {
                    ItemGuid: data === undefined || data === null ? '' : data.ItemGuid
                },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xHR) {
                    action = false;
                    l.stop();
                }
            });
        },
        uploadPics: function(o){
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/UploadFGPics/" + ViewBag.Language)',
                postData: { },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xhr) {
                    action = false;
                    l.stop();
                }
            });
        },
        upload: function (o, type) {
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/UploadExcelData/" + ViewBag.Language)',
                postData: { Type: type, JSObject: 'Item' },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xhr) {
                    action = false;
                    l.stop();
                }
            });
        },
        editClass: function (o) {
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/FGItemClass/" + ViewBag.Language)',
                postData: {},
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xHR) {
                    action = false;
                    l.stop();
                }
            });
        }
    }
</script>
