@using Model.BU;
@{
    List<BUMast> BUList = ViewBag.BUList;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="col-sm-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <button class="btn btn-primary ladda-button" data-style="zoom-out" onclick="Promotion.edit(this)">
                                <i class="glyphicon glyphicon-plus"></i> @ViewBag.LabelNew
                            </button>
                            <button class="btn btn-success ladda-button" data-style="zoom-out" onclick="Promotion.item(this)">
                                <i class="glyphicon glyphicon-plus"></i> @ViewBag.LabelPromotionItem
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control" id="BU">
                                    @foreach (BUMast BU in BUList)
                                    {
                                        <option value="@BU.BUGuid">@Html.Raw(BU.BUCode + "-" + BU.BUName)</option>
                                    }
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="searchBtn" onclick="Promotion.search()">@ViewBag.LabelSearch</button>
                                </span>
                            </div>                        
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="tableFilter" placeholder="@ViewBag.LabelFilter" class="form-control">
                        </div>
                    </div>
                </div>
                <table id="promotion" class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>@ViewBag.LabelStartDate</th>
                            <th>@ViewBag.LabelEndDate</th>
                            <th>@(ViewBag.LabelMinOrderAmt + "(CNY)")</th>
                            <th>@ViewBag.LabelPromotionQty</th>
                            <th>@ViewBag.LabelEdit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var Promotion = {
        tbl: null,
        clear: function () {
            if (Promotion.tbl != undefined && Promotion.tbl != null) {
                Promotion.tbl.clear();
                Promotion.tbl.draw();
            }
        },
        search: function () {
            if (Promotion.tbl === null) {
                Promotion.tbl = $('#promotion').DataTable({
                    searching: true,
                    lengthMenu: [[10, 15, 30, -1], [10, 15, 30, "ALL"]],
                    dom: 'rt<"bottom"ilp<"clear">>',
                    processing: true,
                    stateSave: false,
                    deferRender: true,
                    language: {
                        "processing": "@ViewBag.LabelLoading",
                        "zeroRecords": "@ViewBag.LabelNoData",
                        "lengthMenu": "@ViewBag.LabelLengthMenu",
                        "info": "@ViewBag.LabelTableInfo",
                        "infoEmpty": "@ViewBag.LabelTableInfoEmpty",
                        "paginate": {
                            "first": "@ViewBag.LabelFirstPage",
                            "previous": "@ViewBag.LabelPreviousPage",
                            "next": "@ViewBag.LabelNextPage",
                            "last": "@ViewBag.LabelLastPage"
                        }
                    },
                    ajax: {
                        "url": '@Url.Content("~/api/SEMIApi/GetTablePromotionDatas/" + @ViewBag.Language)',
                        "type": "POST",
                        "data": function (d) {
                            d.BUGuid = $('#BU').children('option:selected').val()
                        }
                    },
                    columns: [
                        { data: 'StartDate' },
                        { data: 'EndDate' },
                        { data: 'MinOrderAmt' },
                        { data: 'MaxQty' }
                    ],
                    columnDefs: [{
                        targets: 4,
                        data: null,
                        defaultContent: '<button class="btn btn-primary btn-xs ladda-button" data-style="zoom-out">'
                            + '<i class="fa fa-edit"></i></button>'
                    }]
                });
                $('#promotion tbody').on('click', 'button', function () {
                    var data = Promotion.tbl.row($(this).parents('tr')).data();
                    Promotion.edit($(this)[0], data);
                });
            }
            else Promotion.tbl.ajax.reload();
        },
        item: function(o){
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/PromotionItem/" + ViewBag.Language)',
                postData: {
                    BUGuid: $('#BU').children('option:selected').val()
                },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xhr) {
                    action = false;
                    l.stop();
                }
            });
        },
        edit: function (o, data) {
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/PromotionDetail/" + ViewBag.Language)',
                postData: {
                    ID: data === undefined || data === null ? '' : data.ID,
                    BUGuid: $('#BU').children('option:selected').val()
                },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xhr) {
                    action = false;
                    l.stop();
                }
            });
        }
    };
    $(function () {
        $('#BU').on('change', function () {
            Promotion.clear();
        });
        $('#searchKey').on('keydown', function (event) {
            if (event.keyCode === 13) $('#searchBtn').click();
        }).focus();
        $('#tableFilter').on('keyup', function () {
            if (Promotion.tbl != null) {
                Promotion.tbl.search($(this).val()).draw();
            }
        });
    });
</script>