@{
    int RecordID = ViewBag.RecordID;
}
<div class="modal-dialog modal-lg" id="PL">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">@(RecordID.Equals(0) ? ViewBag.LabelNew : ViewBag.LabelEdit + " - " + ViewBag.ItemCode + " / " + ViewBag.ItemName)</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" data-field="RecordID" value="@RecordID" />
            <input type="hidden" data-field="SupplierGuid" value="@ViewBag.Supplier" />
            <div class="form-horizontal">
                @if (RecordID.Equals(0))
                {
                    <div class="form-group">
                        <label for="classcode" class="col-sm-2 control-label">@ViewBag.LabelItem</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" data-field="ItemGuid" data-value-alias="guid" id="code" data-required />
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" tabindex="-1" id="name" readonly />
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">@ViewBag.LabelPrice</label>
                    <div class="col-sm-2 has-feedback">
                        <input type="text" class="form-control" data-field="Price" id="price" value="@ViewBag.Price" data-required />
                        <span class="fa fa-rmb form-control-feedback"></span>
                    </div>
                    <label for="sdate" class="col-sm-2 control-label">@ViewBag.LabelStartDate</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" data-field="StartDate" id="sdate" @Html.Raw(RecordID.Equals(0)?"":"disabled") value="@ViewBag.SDate" data-required />
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@ViewBag.LabelClose</button>
            @if (!RecordID.Equals(0))
            {
                <button type="button" id="detailDel" class="btn btn-danger">@ViewBag.LabelDelete</button>
            }
            <button type="button" id="detailSave" class="btn btn-primary">@ViewBag.LabelSave</button>
        </div>
    </div>
</div>
<script>
    var ajaxEdit = function (json) {
        $('#PL button').prop('disabled', true);
        actionRequest.post({
            url: '@Url.Content("~/api/SEMIApi/EditPurchasePrice/" + ViewBag.Language)',
            postData: $.parseJSON(json),
            success: function (response) {
                if (response !== undefined && response !== null && response.Status == 'ok') {
                    $('#commonModal').modal('hide');
                    $('#searchKey').val(response.Msg);
                    PL.search();
                }
                else {
                    $('#PL button').prop('disabled', false);
                    $('#alertModal .modal-body').html('<p><strong>'
                        + (response === undefined || response === null ? "Server error" : response.Msg) + '</strong></p>');
                    $('#alertModal').modal('show');
                }
            },
            error: function (msg) {
                $('#alertModal .modal-body').html('<p><strong>' + msg + '</strong></p>');
                $('#alertModal').modal('show');
                $('#PL button').prop('disabled', false);
            }
        });
    };
    $(function () {
        $('#detailDel').on('click', function () {
            ajaxEdit("{\"IsDel\":\"1\", \"RecordID\":\"@RecordID\"}");
        });
        $('#detailSave').on('click', function () {
            var checked = true;
            //检查所有input标签中data-required必选项值是否为空
            $('#PL input[data-required]').each(function () {
                if ($.trim($(this).val()) == '') {
                    $(this).parent('div').addClass('has-error');
                    checked = false;
                }
            });
            if (!checked) return;
            var jsonBuilder = new StringBuilder();
            $('#PL input[data-field]').each(function () {
                if (jsonBuilder.length() > 0) jsonBuilder.append(',');
                jsonBuilder.append("\"" + $(this).attr('data-field') + "\":\"");
                if ($(this).attr('data-value-alias') == undefined) jsonBuilder.append($.jsonCheck($(this).val()) + "\"");
                else {
                    var aliasVal = $(this).attr('data-' + $(this).attr('data-value-alias'));
                    if (aliasVal == undefined) aliasVal = '';
                    jsonBuilder.append($.jsonCheck(aliasVal) + "\"");
                }
            });
            if (jsonBuilder.length() > 0) {
                jsonBuilder.insert(0, "{").append("}");
                ajaxEdit(jsonBuilder.toString());
            }
        });
        $('#sdate').datepicker({
            autoclose: true,
            format: '@(ViewBag.Language == "zh" ? "yyyy-mm-dd" : "mm/dd/yyyy")',
            todayHighlight: true,
            language: '@(ViewBag.Language == "zh" ? "zh-CN" : "")',
            startDate: '@ViewBag.SDate'
        });
        $("#PL input[data-required]").attr('placeholder', '@ViewBag.LabelRequired').on('focus', function () {
            $(this).parent('div').removeClass('has-error');
        });

        $("#price").inputmask("decimal", { allowMinus: false, digits: 4 });

        var typeSource = null;
        $('#code').typeahead({
            source: function (query, process) {
                if (typeSource == undefined || typeSource == null) {
                    actionRequest.post({
                        url: '@Url.Content("~/api/SEMIApi/GetRMDatas/" + ViewBag.Language)',
                        postData: {
                            Status: 1,
                            Type: 'RM'
                        },
                        success: function (data) {
                            typeSource = data;
                            process(typeSource);
                        }
                    });
                }
                else process(typeSource);
            },
            autoSelect: true,
            matcher: function (item) {
                if (this.query == undefined || this.query == '') return false;
                if (item.ItemCode.toLocaleLowerCase().indexOf(this.query.toLocaleLowerCase()) > -1
                    || item.ItemName.toLocaleLowerCase().indexOf(this.query.toLocaleLowerCase()) > -1)
                    return true;
                else return false;
            },
            displayText: function (item) {
                return item.ItemGuid;
            },
            highlighter: function (text, item) {
                return item.ItemName;
            },
            updater: function (item) {
                $('#name').val(item.ItemName);
                $('#code').attr('data-guid', item.ItemGuid);
                return item.ItemCode;
            },
            delay: 200
        });
        $('#code').change(function () {
            var current = $('#code').typeahead("getActive");
            if (current) {
                if (current.ItemCode != $('#code').val()) {
                    $('#code,#name').val('');
                    $('#code').attr('data-guid', '');
                }
            }
            else {
                $('#code,#name').val('');
                $('#code').attr('data-guid', '');
            }
        });
    });
</script>
