<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="col-sm-12 form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button class="btn btn-primary ladda-button" data-style="zoom-out" onclick="WeChatRpt.edit(this)">
                                <i class="glyphicon glyphicon-plus"></i> @ViewBag.LabelNew
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" id="sqlStatus">
                                <option value="1">@ViewBag.LabelStatusActive</option>
                                <option value="0">@ViewBag.LabelStatusBlock</option>
                            </select>
                        </div>
                        <div class="col-sm-3 input-group">
                            <input type="text" id="searchKey" placeholder="@ViewBag.LabelSearchHint" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="searchBtn" onclick="WeChatRpt.search()">@ViewBag.LabelSearch</button>
                            </span>
                        </div>
                    </div>
                </div>
                <table id="weChatRpt" class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>@ViewBag.LabelDescription</th>
                            <th>@ViewBag.LabelMainQuery</th>
                            <th>@ViewBag.LabelDisplayType</th>
                            <th>@ViewBag.LabelLinkName</th>
                            <th>@ViewBag.LabelLinkField</th>
                            <th>@ViewBag.LabelSpaceNumber</th>
                            <th>@ViewBag.LabelEdit</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#searchKey').on('keydown', function (event) {
            if (event.keyCode === 13) $('#searchBtn').click();
        }).focus();
    });
    var WeChatRpt = {
        tbl: null,
        search: function () {
            if (WeChatRpt.tbl === null) {
                WeChatRpt.tbl = $('#weChatRpt').DataTable({
                    searching: false,
                    lengthMenu: [[10, 15, 30, -1], [10, 15, 30, "ALL"]],
                    dom: 'rt<"bottom"iflp<"clear">>',
                    processing: true,
                    stateSave: false,
                    deferRender: true,
                    language: {
                        "processing": "@ViewBag.LabelLoading",
                        "zeroRecords": "@ViewBag.LabelNoData",
                        "lengthMenu": "@ViewBag.LabelLengthMenu",
                        "info": "@ViewBag.LabelTableInfo",
                        "infoEmpty": "@ViewBag.LabelTableInfoEmpty",
                        "paginate": {
                            "first": "@ViewBag.LabelFirstPage",
                            "previous": "@ViewBag.LabelPreviousPage",
                            "next": "@ViewBag.LabelNextPage",
                            "last": "@ViewBag.LabelLastPage"
                        }
                    },
                    ajax: {
                        "url": '@Url.Content("~/api/SEMIApi/GetTableWeChatReportSqlMastDatas/" + ViewBag.Language)',
                        "type": "POST",
                        "data": function (d) {
                            d.Status = $('#sqlStatus').children('option:selected').val(),
                            d.KeyWords = $('#searchKey').val()
                        }
                    },
                    columns: [
                        { data: "Name" },
                        { data: "ParentName" },
                        { data: "DisplayType" },
                        { data: "LinkName" },
                        { data: "LinkField" },
                        { data: "SpaceNumber" }
                    ],
                    columnDefs: [{
                        targets: 6,
                        data: null,
                        defaultContent: '<button class="btn btn-primary btn-xs ladda-button" data-style="zoom-out">'
                            + '<i class="fa fa-edit"></i></button>'
                    }]
                });
                $('#weChatRpt tbody').on('click', 'button', function () {
                    var data = WeChatRpt.tbl.row($(this).parents('tr')).data();
                    WeChatRpt.edit($(this)[0], data);
                });
            }
            else WeChatRpt.tbl.ajax.reload();
        },
        edit: function (o, data) {
            if (action) return;
            else {
                action = true;
                $('#commonModal').html('');
            }
            var l = Ladda.create(o);
            l.start();
            actionRequest.post({
                url: '@Url.Content("~/SEMI/WeChatReportSqlDetail/" + ViewBag.Language)',
                postData: {
                    GUID: data === undefined || data === null ? '' : data.GUID
                },
                dataType: 'html',
                success: function (response) {
                    $('#commonModal').html(response);
                    $('#commonModal').modal('show');
                },
                complete: function (xHR) {
                    action = false;
                    l.stop();
                }
            });
        }
    }
</script>